.logo{
  width: 3rem;
}

.logo-text {
  font-weight: bold;
  font-size: 1.3rem;
}

.logo-link{
  text-decoration: none;
}

.highlight-yellow {
  color: var(--secondary);
}

.highlight-green {
  color: var(--primary);
}

.highlight-blue {
  color: var(--blue);
}

.nav-link {
  color: rgba(255,255,255,0.7);
}

.nav-link.active,
.nav-link:hover {
  color: var(--primary);
}

.navbar-nav .nav-link.active {
  color: yellow;
}